<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog website</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        footer {
            background-color: black;
            padding: 1rem;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <footer>
        <p>&copy; <%= new Date().getFullYear(); %> Welcome to blog world. All rights reserved.</p>
    </footer>
</body>

</html>
